<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                       adminioTeam
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" >
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Documentado por
            <a target="_blank" href="javascript:void(0)" target="_blank">AdminioTeam</a>.
        </div>
    </div>
</footer>
