<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h3 class="card-title">Configuracion</h3>
        <p class="card-category">Gastos Comunes</p>
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-2 col-md-4"></div>
            <mat-form-field appearance="fill" class="col-8 col-md-4">
              <mat-label>Dia de notificación</mat-label>              
              <mat-select [(value)]="selectedDia">
                <mat-option *ngFor="let dia of dias" [value]="dia"> {{dia}} </mat-option>
              </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
            <div class="col-2 col-md-4">
            </div> 
            <div class="col-8 col-md-4">
                Hora de notificación
                <ngb-timepicker #hora [(ngModel)]="time" ></ngb-timepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-md-4"></div>
            <mat-form-field appearance="fill" class="col-8 col-md-4">
                <mat-label>Forma de distribución</mat-label>
                 <mat-select [(value)]="selectedForma" >
                  <mat-option [value]="true"> Por metros cuadrados </mat-option>
                  <mat-option [value]=false> En partes iguales </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="row">
          <div class="col-3 col-md-4"></div>
            <mat-chip-list class="col-7 col-md-4">
              <mat-chip color="primary" selected (click)="saveConfiguracion(selectedDia,time,selectedForma)"> Guardar Cambios</mat-chip>
            </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</div>