<div class="main-content">
  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">No. propiedad</th>
        <th scope="col">Nombre del propietario</th>
        <th scope="col">Monto adeudado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let moroso of list_morosos; index as i;">
        <td> {{ moroso.numeroPropiedad}} </td>
        <td >
          <div *ngIf="moroso.propietario !== null">
            {{moroso.propietario.nombre}}
          </div>
          <div *ngIf="moroso.propietario === null" >
            No hay propietario
          </div>
           </td>
        <td>
          {{moroso.deuda | currency:'CLP':'symbol'}}
        </td>
      </tr>
      </tbody>
    </table> 
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
    
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>
